div{
    width: 80%;
    box-sizing: border-box
}

.outbox {
    background-color: aquamarine;
    max-width: 80%;
    height: 800px;
    padding: 50px;
    font-size: 30px;
    box-sizing: border-box;   
}

table {
    width: 80%;
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
}

.button {
    background-color: purple;
    width: 30%;
    height: 100px;
    margin-left: 50px;
    box-sizing: border-box;
    float: right;
}

.info {
    width: 30%;
    height: auto;
}