body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}
h4 {
  font-size: 22px;
}

.main-background {
  background-color: linear-gradient(to bottom, #499add, #4e61c0);
  height: 550px;
  padding: 20px;
  color: white;
}
.main-container {
  max-width: 1200px;
  margin: auto;
}
.main-text {
  float: left;
  margin-top: 50px;
}
.main-iphone {
  width: 400px;
  float: right;
  margin-top: 95px;
}
